<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="/home">Green Gardent</a></h3>
            <p class="links"><a href="/home">Home</a><strong> · </strong><a href="/about">About</a><strong> ·
                </strong><a href="/contact">Contact</a><strong> · </strong><a
                    href="/categories">Categories</a><strong>&nbsp;</strong></p>
            <p class="company-name">Green Gadent © 2020</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">90 Doan Huu Trung</span> Dong Hoi, &nbsp;Quang Binh</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +84 346821095</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="http://gmail.com" target="_blank">anhfernaldo@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
                vehicula sit amet. </p>
            <div class="social-links social-icons"><a href="http://facebook.com" target="_blank"><i
                        class="fa fa-facebook"></i></a><a href="http://twitter.com" target="_blank"><i
                        class="fa fa-twitter"></i></a><a href="http://linkedin.com" target="_blank"><i
                        class="fa fa-linkedin"></i></a><a href="http://github.com" target="_blank"><i
                        class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>