<nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean">
    <div class="container-fluid"><a class="navbar-brand" href="#"
            style="font-family: 'Montserrat Alternates', sans-serif;">Green Garden</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item" role="presentation"><a class="nav-link " href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                        aria-expanded="false" href="/categories">Categories</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation"
                            href="/categories">Tiểu cảnh để bàn</a><a class="dropdown-item" role="presentation"
                            href="/categories">Cây cảnh để bàn</a><a class="dropdown-item" role="presentation"
                            href="/categories">Cây cảnh mini</a><a class="dropdown-item" role="presentation"
                            href="/categories">Phụ kiện trang trí</a></div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Login</a></li>
                <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                        aria-expanded="false" href="#">User</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation"
                            href="#">Cart</a><a class="dropdown-item" role="presentation" href="#">Information</a><a
                            class="dropdown-item" role="presentation" href="#">Log out</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>